* {
    margin: auto;
    padding: auto;
}

#submit-form{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    width:47%;
    height: 100%;
    border-radius: 10px;
}

#descript{
    border-radius: 6px;
    height:30%;
}

#submit-button{
    width:20%;
}