* {
    margin: auto;
    padding: auto;
}

nav {
    display: flex;
    background-color: #0D2129;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 2px solid #21323a;
    padding-bottom: 2%;
}

.logo{
    padding-right: 59%;
    padding-top: 1.2%;
}

.links{
    display: flex;
    padding-top: 1.5%;
}

#marcy-logo{
    color:white;
    font-weight: 560;
    font-size: 2.35rem;
}

.linkers {
    cursor: pointer;
    color:#04AA6D;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

/* #sign-in{
    color:#04AA6D;
    font-size: 18px;
    font-weight: bold;
} */