* {
    margin: auto;
    padding: auto;
}

figure {
    display:flex
}
.navbar-items {
    display: flex;
    background-color: #0D2129;
    border-bottom: 2px solid #21323a;
    padding-bottom: 2%;
    width: 569px;
    height: 500px;
}

#logo{
    margin-left: 30px;
    font-family: klavika;
    font-size: 40px;
    font-weight: 500;
    color: green;
}

.links{
    display: flex;
    padding-top: 1.5%;
}

#logo-text{
    color:white;
    font-weight: 560;
    font-size: 2.35rem;
}

.linkers {
    cursor: pointer;
    color:#04AA6D;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.buttons{
    margin-left: 900px;
}

.button is-primary{
    margin-right: 200px;
}