* {
    margin: auto;
    padding: auto;
}
.post {
    display: flex;
    flex-direction: column;
    background-color: #04AA6D;
    width: 50%;
    height: 60%;
    border-radius: 25px;
    margin-top: 50px;
}

.image-container{
    display:flex;
    margin-bottom: 5%;
    gap: 10px;
    /* background-color: green; */
    width: 96%;
    height:100%;
    border-radius: 10px;
}

.posted-image{
    width: 48%;
    height: 50%;
    border-radius: 15%;
    /* margin-left: 6%;
    margin-right: 3%; */
}
.post-info {
    /* display:flex; */
    flex-direction: column;
    /* border-style: solid;
    border-color: black; */
    width: 100%;
}
.username {
    /* display: flex;
    flex-direction: row; */
    align-items: flex-start;
    /* border-style: solid; */
    /* border-color: green; */
    /* margin-left: 3%;
    margin-top: 2%; */
}
.username-text {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    margin-left: 5%;
}
/* .timestamp{
    margin-left: 3%;
} */
.timestamp-text {
    justify-content: flex-end;
    margin-left: 5%;

}
.post-content {
    width: 70%;
    padding:5%;
    /* border-bottom: solid black; */
}
.post-content-text {
    text-align: left;
    font-size: 24px;
    margin:auto;
}
.like-comment-button-section {
    display: flex;
    width: 90%;
    color: white;
    padding-top: .6%;
    padding-bottom: .7%;
    height: 42px;
}
/* .like-button-container{
    background-color: #0D2129;
} */
.like-button {
    width: 30px;
    height: 30px;
}

.like-button:hover {
    width: 35px;
    height: 34px
}
.comment-button {
    width: 25px;
    height: 25px;
    margin-right: 10%;
}
.comment-button:hover {
    width: 30px;
    height: 30px
}
.comments-section{
    width: 80%;
 }



.submit-comment-button {
    justify-content: center;
    background-color: 058a59;
    color: #58997A;
    min-height: 35px;
    min-width: 60px;
    padding-right: 30px;
    border: 0 solid black;
    border-radius: 0px 25px 25px 0px;
}



